* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #091f43;
    text-align: center;
}

.card {
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    background-color: #849bc4;
}

.input-group {
    margin: 10px;
    width: 50%;
    display: inline-flex;
}
.input-group button {
    background-color: rgb(95, 95, 95);
    border-color: none;
}

.error {
    color: #fff;
}

@media (max-width: 600px) {
    .input-group {
        width: 80%;
    }
}